#root {
  max-width: 1280px;
  margin: 0 0;
  padding: 2rem;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.cell-flash-up {
  animation: flash-up 1s;
}

.cell-flash-down {
  animation: flash-down 1s;
}

@keyframes flash-down {
  0% {
    background-color: rgba(22, 160, 133, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@keyframes flash-up {
  0% {
    background-color: rgba(195, 101, 101, 1);
  }
  100% {
    background-color: transparent;
  }
}
